@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="img/hero/h1_hero.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="hero-text">
                        <span>Trung tâm chilling</span>
                        <h1>Việc tập luyện thực sự bắt đầu khi bạn muốn dừng lại.</h1>
                        <a href="#" class="primary-btn">TÌM HIỂU THÊM</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Section Begin -->
    <section class="about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-pic">
                        <img src="img/about-pic.jpg" alt="">
                        <a href="" class="play-btn video-popup">
                            <img src="img/play.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>Về chúng tôi</h2>
                        <p class="first-para">Trong đời sống chúng ta, sức khoẻ giữ một vị trí hết sức quan trọng.
                            Người xưa đã từng nói: “Có sức khoẻ là có tất cả.” Việc nâng cao sức khoẻ của mỗi
                            cá nhân hiện nay là vấn đề rất được đề cao. Nắm được nhu cầu, vị trí và tầm quan
                            trọng của sức khoẻ mà nhiều cá nhân, doanh nghiệp liên tục xây dựng và phát triển
                            các hệ thống phòng tập thể hình, phòng tập gym,... tại các thành phố lớn như
                            TPHCM, Hà Nội và cả ở những tỉnh thành nhỏ hơn. Vì nhu cầu của người tiêu dùng
                            hiện nay rất cao đối với hệ thống tập thể hình, số người đến các phòng tập dần dần
                            tăng để trải nghiệm những thiết bị tiên tiến, hiện đại nhất, kéo theo đó chính là sự
                            cạnh tranh giữa các phòng tập với nhau nhằm lôi kéo khách hàng trải nghiệm những
                            dịch vụ tốt nhất với giá cả hợp lý.</p>
                        <p class="second-para">Vì nhu cầu của người tiêu dùng
                            hiện nay rất cao đối với hệ thống tập thể hình, số người đến các phòng tập dần dần
                            tăng để trải nghiệm những thiết bị tiên tiến.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Services Section Begin -->
    <section class="services-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="services-pic">
                        <img src="img/hero/slider-bg-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-items">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="services-item bg-gray">
                                    <img src="img/services/service-icon-1.png" alt="">
                                    <h4>Tăng chiều cao</h4>
                                    <p>Cơ hội trải nghiệm nhiều môn tập tư cơ bản đến nâng cao tại chilling.</p>
                                </div>
                                <div class="services-item bg-gray pd-b">
                                    <img src="img/services/service-icon-3.png" alt="">
                                    <h4>Yoga</h4>
                                    <p>Cơ hội trải nghiệm nhiều môn tập tư cơ bản đến nâng cao tại chilling.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="services-item">
                                    <img src="img/services/service-icon-2.png" alt="">
                                    <h4>Gym</h4>
                                    <p>Cơ hội trải nghiệm nhiều môn tập tư cơ bản đến nâng cao tại chilling.</p>
                                </div>
                                <div class="services-item pd-b">
                                    <img src="img/services/service-icon-4.png" alt="">
                                    <h4>Giảm cân </h4>
                                    <p>Cơ hội trải nghiệm nhiều môn tập tư cơ bản đến nâng cao tại chilling.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Classes Section Begin -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>LỚP HỌC</h2>
                    </div>
                </div>
            </div>
            <div class="row classes-slider owl-carousel">
                <div class="col-lg-4">
                    <div class="single-class-item set-bg" data-setbg="img/classes/classes-1.jpg">
                        <div class="si-text">
                            <h4>Giảm mỡ sau sinh</h4>
                            <span><i class="fa fa-user"></i> Tên huấn luyện viên</span>
                        </div>
                    </div>
                    <div class="single-class-item set-bg" data-setbg="img/classes/classes-4.jpg">
                        <div class="si-text">
                            <h4>Giảm mỡ bụng</h4>
                            <span><i class="fa fa-user"></i> Tên huấn luyện viên</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-class-item set-bg" data-setbg="img/classes/classes-2.jpg">
                        <div class="si-text">
                            <h4>Aerobic</h4>
                            <span><i class="fa fa-user"></i> Tên huấn luyện viên</span>
                        </div>
                    </div>
                    <div class="single-class-item set-bg" data-setbg="img/classes/classes-5.jpg">
                        <div class="si-text">
                            <h4>Giảm mỡ cấp tốc</h4>
                            <span><i class="fa fa-user"></i> Tên huấn luyện viên</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-class-item set-bg" data-setbg="img/classes/classes-3.jpg">
                        <div class="si-text">
                            <h4>Phục hồi chức năng</h4>
                            <span><i class="fa fa-user"></i>Tên huấn luyện viên</span>
                        </div>
                    </div>
                    <div class="single-class-item set-bg" data-setbg="img/classes/classes-6.jpg">
                        <div class="si-text">
                            <h4>Gym cho nữ giới</h4>
                            <span><i class="fa fa-user"></i> Tên huấn luyện viên</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-class-item set-bg" data-setbg="img/classes/classes-7.jpg">
                        <div class="si-text">
                            <h4>Tăng cường cơ bắp</h4>
                            <span><i class="fa fa-user"></i>Tên huấn luyện viên</span>
                        </div>
                    </div>
                    <div class="single-class-item set-bg" data-setbg="img/classes/classes-8.jpg">
                        <div class="si-text">
                            <h4>Gym cho nam giới</h4>
                            <span><i class="fa fa-user"></i>Tên huấn luyện viên</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Classes Section End -->

    <!-- Trainer Section Begin -->
    <section class="card-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>HUẤN LUYỆN VIÊN</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-card-item">
                        <img src="img/trainer/about-trainer-4.png">
                        <div class="card-text">
                            <h5>Tên huấn luyện viên</h5>
                            <span>Môn tập</span>
                            <p>Mô tả</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-card-item">
                        <img src="img/trainer/about-trainer-4.png">
                        <div class="card-text">
                            <h5>Tên huấn luyện viên</h5>
                            <span>Môn tập</span>
                            <p>Mô tả</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-card-item">
                        <img src="img/trainer/about-trainer-4.png">
                        <div class="card-text">
                            <h5>Tên huấn luyện viên</h5>
                            <span>Môn tập</span>
                            <p>Mô tả</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Trainer Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Phản hồi</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="testimonial-slider owl-carousel">
                        <div class="testimonial-item">
                            <p>Nội dung phản hồi</p>
                            <div class="ti-pic">
                                <img src="img/member.jpg" alt="">
                                <div class="quote">
                                    <!-- <img src="img/testimonial/quote-left.png" alt=""> -->
                                </div>
                            </div>
                            <div class="ti-author">
                                <h4>Tên khách hàng</h4>
                                <span>môn tập</span>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <p>Nội dung phản hồi</p>
                            <div class="ti-pic">
                                <img src="img/member.jpg" alt="">
                                <div class="quote">
                                    <!-- <img src="img/testimonial/quote-left.png" alt=""> -->
                                </div>
                            </div>
                            <div class="ti-author">
                                <h4>Tên khách hàng</h4>
                                <span>môn tập</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="img/hero/sever-pic.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <div class="banner-text">
                        <h2>THAM GIA VỚI CHÚNG TÔI NGAY</h2>
                        <p>Để trải nghiệm dịch vụ tuyệt vời cùng huấn luyện viên nhiệt tình, giàu kinh nghiệm.</p>
                        <a href="#" class="primary-btn banner-btn">TÌM HIỂU</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Membership Section Begin -->
    <section class="membership-section spad">
        <div class="container set-color">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>GÓI DỊCH VỤ</h2>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4">
                    <div class="membership-item">
                        <div class="mi-title">
                            <h4>ĐỒNG</h4>
                            <div class="triangle"></div>
                        </div>
                        <h2 class="mi-price">GIÁ<span>/01 tháng</span></h2>
                        <ul>
                            <li>
                                <p>Thời hạn</p>
                                <span>số tháng</span>
                            </li>

                            <li>
                                <p>Số giờ tập</p>
                                <span>2 giờ/ ngày</span>
                            </li>

                        </ul>
                        <li class="pt-2">
                            <a href="#" class="primary-btn membership-btn">Bắt đầu ngay</a>
                        </li>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="membership-item">
                        <div class="mi-title">
                            <h4>BẠC</h4>
                            <div class="triangle"></div>
                        </div>
                        <h2 class="mi-price">GIÁ<span>/01 tháng</span></h2>
                        <ul>
                            <li>
                                <p>Thời hạn</p>
                                <span>số tháng</span>
                            </li>

                            <li>
                                <p>Số giờ tập</p>
                                <span>4 giờ/ngày</span>
                            </li>

                        </ul>
                        <li class="pt-2">
                            <a href="#" class="primary-btn membership-btn">Bắt đầu ngay</a>
                        </li>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="membership-item">
                        <div class="mi-title">
                            <h4>VÀNG</h4>
                            <div class="triangle"></div>
                        </div>
                        <h2 class="mi-price">GIÁ<span>/01 tháng</span></h2>
                        <ul>
                            <li>
                                <p>Thời hạn</p>
                                <span>số tháng</span>
                            </li>
                            <li>
                                <p>Số giờ tập</p>
                                <span>Không giới hạn</span>
                            </li>

                        </ul>
                        <li class="pt-2">
                            <a href="#" class="primary-btn membership-btn ">Bắt đầu ngay</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Membership Section End -->

    <!-- Latest  Section Begin -->
    <section class="latest-blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>SẢN PHẨM HỖ TRỢ</h2>
                    </div>
                </div>
            </div>
            <div class="row product-silder owl-carousel">
                <!-- <div class="col-lg-4 col-md-6">
                    <div class="el-wrapper">
                        <div class="box-up">
                            <img class="img" src="./img/blog/product_1.jpg" alt="">
                            <div class="img-info">
                                <div class="a-size">Sizes :<span class="size">S , M , L </span></div>
                            </div>
                        </div>

                        <div class="box-down">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>

                            <a class="cart" href="#">
                                <div class="info-product">
                                    <span class="price">100.000đ</span>
                                    <h5 class="product-name"> Găng tay tập gym</h5>
                                </div>
                                <span class="add-to-cart">
                                    <span class="txt">Thêm vào giỏ hàng</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="el-wrapper">
                        <div class="box-up">
                            <img class="img" src="./img/blog/product_1.jpg" alt="">
                            <div class="img-info">
                                <div class="a-size">Sizes :<span class="size">S , M , L </span></div>
                            </div>
                        </div>

                        <div class="box-down">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>

                            <a class="cart" href="#">
                                <div class="info-product">
                                    <span class="price">100.000đ</span>
                                    <h5 class="product-name"> Găng tay tập gym</h5>
                                </div>
                                <span class="add-to-cart">
                                    <span class="txt">Thêm vào giỏ hàng</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="el-wrapper">
                        <div class="box-up">
                            <img class="img" src="./img/blog/product_1.jpg" alt="">
                            <div class="img-info">
                                <div class="a-size">Sizes :<span class="size">S , M , L </span></div>
                            </div>
                        </div>
                        <div class="box-down">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>
                            <a class="cart" href="#">
                                <div class="info-product">
                                    <span class="price">100.000đ</span>
                                    <h5 class="product-name"> Găng tay tập gym</h5>
                                </div>
                                <span class="add-to-cart">
                                    <span class="txt">Thêm vào giỏ hàng</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>