@model App.Models.Memberships.Membership
@using App.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Xóa sản phẩm";
}

<h1>@ViewData["Title"]</h1>
<p>Bạn có chắc chắn muốn xóa gói tập?</p>
<h4>@Model.Level</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Level" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách gói tập</a>
    </form>
</div>

@{
    _AdminSidebarService.SetActive("Membership", "Delete", "Membership");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}