@model App.Models.Classes.Class
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Thêm khóa tập mới";
    var listRoom = ViewData["rooms"] as SelectList;
    var listInstructor = ViewData["instructors"] as SelectList;
}
<div class="container-fluid">
    <h1 class="mt-4">Tạo mới khóa tập</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdminCP" asp-area="AdminCP">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới khóa tập</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index">Danh sách khóa tập</a>
        </div>

        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ClassTitle" class="control-label"></label>
                        <input asp-for="ClassTitle" class="form-control" />
                        <span asp-validation-for="ClassTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassDate" class="control-label"></label>
                        <input asp-for="ClassDate" class="form-control">
                        <span asp-validation-for="ClassDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassPeriod" class="control-label"></label>
                        <input asp-for="ClassPeriod" class="form-control">
                        <span asp-validation-for="ClassPeriod" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassCost" class="control-label"></label>
                        <input asp-for="ClassCost" class="form-control">
                        <span asp-validation-for="ClassCost" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="RoomId" class="control-label"></label>
                        <select asp-for="RoomId" asp-items="listRoom" class="form-control"></select>
                        <span asp-validation-for="RoomId" class="text-danger"></span>
                    </div> 
                    <div class="form-group">
                        <label asp-for="InstructorId" class="control-label"></label>
                        <select asp-for="InstructorId" asp-items="listInstructor" class="form-control"></select>
                        <span asp-validation-for="InstructorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Thêm khóa tập" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@{
    var summernote  = new App.Models.Summernote("#Content");
}
<partial name="_Summernote" model="summernote" />

@{
    _AdminSidebarService.SetActive("Class", "Create", "Class");
}
@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}

