@using App.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Admin Control Panel";
}

<p>
    Quản trị website!
</p>

@{
    _AdminSidebarService.SetActive("AdminCP", "Index", "AdminCP");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}