@model App.Models.Products.Product

@{
    Layout = "_Layout";
    ViewData["Title"] = "Xóa sản phẩm";
}

<h1>@ViewData["Title"]</h1>
<p>Bạn có chắc chắn muốn xóa sản phẩm?</p>
<h4>@Model.ProductName</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductName" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách sản phẩm</a>
    </form>
</div>