@using Microsoft.AspNetCore.Identity
@using App.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    Layout = "_LayoutUser";
}

@*@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity"  asp-controller="Manage" asp-action="Index" title="Manage">Xin chào @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Đăng xuất</button>
            </li>
        </ul>
    </form>
}
else
{
    <li class="user-cart-login--mobile ">
        <div class="sinlge-bar shopping">
            <a href="#" class="single-icon"><i
                class="header-mid-icon fa-solid fa-cart-shopping" style="
                font-size: 20px;"></i> </a> <span>Giỏ hàng</span>
    
            <div class="shopping-item">
                <div class="dropdown-cart-header">
                    <!-- <span>2 sản phẩm</span> -->
                    <a href="#" style="padding: 0 0 0 0;">Xem giỏ hàng</a>
                </div>
                <ul class="shopping-list">
                    <li>
                        <div class="content-shopping-list-item">
                            <div class="remove-icon">
                                <a href="#" class="remove" title="Xóa sản phẩm"><i
                                    class="fa fa-remove"></i></a>
                            </div>
                            <a class="cart-img" href="#"><img
                                src="./img/about-pic.jpg" alt="#"></a>
                            <div class="cart-product-deatil">
                                <h4><a href="#">Tên sản phẩm</a></h4>
                                <p class="quantity">1x - <span class="amount">100.000đ</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content-shopping-list-item">
                            <div class="remove-icon">
                                <a href="#" class="remove" title="Xóa sản phẩm"><i
                                    class="fa fa-remove"></i></a>
                            </div>
                            <a class="cart-img" href="#"><img
                                src="./assets/img/homepage/product01.png" alt="#"></a>
                            <div class="cart-product-deatil">
                                <h4><a href="#">Tên sản phẩm</a></h4>
                                <p class="quantity">1x - <span class="amount">100.000đ</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="bottom">
                    <div class="total">
                        <span>Tổng </span>
                        <span class="total-amount">235.000đ</span>
                    </div>
                    <a href="" class="btn animate">Thanh toán</a>
                </div>
            </div>
        </div>
    </li>
    
    <li class="user-section-login--mobile" >
        <div class="user-header">
            <span class ="user-name">Tên người đăng nhập</span>
            <a><i class=" user-icon-header fa-regular fa-user"></i></a>
    
            <div class="user-item">
                <div class="dropdown-user-header">
                </div>
                <ul class="user-list">
                    <li>
                        <a href="">
                            <span>Tài khoản của tôi</span></a>
                    </li>
                    <li>
                        <a href="">
    
                            <span>Đơn mua của tôi</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
    
                            <span>Đổi mật khẩu</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Thông tin cá nhân</span></a>
                    </li>
    
                </ul>
                <div class="bottom">
                    <a href="" class="btn animate">Đăng xuất</a>
                    <a href="" class="btn animate">Đăng nhập</a>
    
                </div>
            </div>
        </div>
    </li>
}*@
<li class="user-cart-login--mobile ">
        <div class="sinlge-bar shopping">
            <a href="#" class="single-icon"><i
                class="header-mid-icon fa-solid fa-cart-shopping" style="
                font-size: 20px;"></i> </a> <span>Giỏ hàng</span>

            <div class="shopping-item">
                <div class="dropdown-cart-header">
                    <!-- <span>2 sản phẩm</span> -->
                    <a href="#" style="padding: 0 0 0 0;">Xem giỏ hàng</a>
                </div>
                <ul class="shopping-list">
                    <li>
                        <div class="content-shopping-list-item">
                            <div class="remove-icon">
                                <a href="#" class="remove" title="Xóa sản phẩm"><i
                                    class="fa fa-remove"></i></a>
                            </div>
                            <a class="cart-img" href="#"><img
                                src="./img/about-pic.jpg" alt="#"></a>
                            <div class="cart-product-deatil">
                                <h4><a href="#">Tên sản phẩm</a></h4>
                                <p class="quantity">1x - <span class="amount">100.000đ</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content-shopping-list-item">
                            <div class="remove-icon">
                                <a href="#" class="remove" title="Xóa sản phẩm"><i
                                    class="fa fa-remove"></i></a>
                            </div>
                            <a class="cart-img" href="#"><img
                                src="./assets/img/homepage/product01.png" alt="#"></a>
                            <div class="cart-product-deatil">
                                <h4><a href="#">Tên sản phẩm</a></h4>
                                <p class="quantity">1x - <span class="amount">100.000đ</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="bottom">
                    <div class="total">
                        <span>Tổng </span>
                        <span class="total-amount">235.000đ</span>
                    </div>
                    <a href="" class="btn animate">Thanh toán</a>
                </div>
            </div>
        </div>
    </li>

    <li class="user-section-login--mobile" >
        <div class="user-header">
            <span class ="user-name">Tên người đăng nhập</span>
            <a><i class=" user-icon-header fa-regular fa-user"></i></a>

            <div class="user-item">
                <div class="dropdown-user-header">
                </div>
                <ul class="user-list">
                    <li>
                        <a href="">
                            <span>Tài khoản của tôi</span></a>
                    </li>
                    <li>
                        <a href="">

                            <span>Đơn mua của tôi</span>
                        </a>
                    </li>
                    <li>
                        <a href="">

                            <span>Đổi mật khẩu</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Thông tin cá nhân</span></a>
                    </li>

                </ul>
                <div class="bottom">
                    <a href="" class="btn animate">Đăng xuất</a>
                    <a href="" class="btn animate">Đăng nhập</a>

                </div>
            </div>
        </div>
    </li>