@model App.Models.Products.Category
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Xóa danh mục sản phẩm";
}

<h1>@ViewData["Title"]</h1>

<h3>Có chắc chắn xóa?</h3>
<div>

    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách chuyên mục Blog</a>
    </form>
</div>

<div>
    <a asp-action="Index">Danh sách danh mục sản phẩm</a>
</div>

@{
    _AdminSidebarService.SetActive("Category", "Delete", "Product");
}
@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}